html {
    border-style: dashed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 1600px;
    height: 1195px;
    background: #F6F7F8 0% 0% no-repeat padding-box;
    opacity: 1;
}

/* header UI Properties
    logo - properties
    middle-content properties
    right-content properties
*/
header {
    top: 18px;
    left: 18px;
    width: 1564px;
    height: 72px;
    margin-top: -10px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 70px;
    opacity: 1;
    position: relative;
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 20px;
}
header .logo {
    margin-left: 32px;
    width: 211px;
    height: 48px;
    background: transparent url('../images/TestLogo.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
header .middle-content {
    list-style-type: none;
    margin-top: 5px;
    margin-left: 45px;
    width: 663px;
    height: 63px;
    opacity: 1;
}

header ul.inline-block-container {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
header ul.inline-block-container li.inline-block-item {
    display: inline-block;
    margin: 15px 10px;
}
header .inline-block-container .inline-block-item .overview {
    width: 88px;
    height: 19px;
    opacity: 1;
}
header .inline-block-container .inline-block-item .patient {
    width: 122px;
    height: 41px;
    background: var(--activestate_bg_1) 0% 0% no-repeat padding-box;
    background: #01F0D0 0% 0% no-repeat padding-box;
    border-radius: 41px;
    opacity: 1;
}
header .inline-block-container .inline-block-item .img-patient {
    width: 24px;
    height: 17px;
    margin-top: 10px;
    opacity: 1;
}
header ul .schedule {
    width: 87px;
    height: 19px;
    opacity: 1;
}
header ul .message {
    width: 89px;
    height: 19px;
    opacity: 1;
}
header ul .transactions {
    width: 119px;
    height: 19px;
    opacity: 1;
}
header .container .right-content {
    display: flex;
    align-items: center;
    width: 241px;
    height: 44px;
    opacity: 1;
    padding: 0 10px;
    justify-content: space-between;
}
header .container .right-content img {
    font-size: 24px;
}
header .container .right-content .text-content {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    margin-right: 10px;
}
header .container .right-content .text-content span {
    text-align: left;
}

header .container .right-content img.vert {
    margin-left: 5px;
}

header .container .right-content img.settings {
    margin-left: 10px;
}

header .container .right-content p {
    width: 1px;
    height: 44px;
    background: var(--unnamed-color-ededed) 0% 0% no-repeat padding-box;
    background: #EDEDED 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-left: 10px;
}

/* Container-2 UI Properties
    patients container properties
    diagnostics list container properties
    diagnosis history container properties
    lab results container properties
    profiles container properties
*/
.container-2 {
    display: flex;
}
.container-2 .container-patient {
    margin-top: 36px;
    margin-left: 18px;
    width: 367px;
    height: 1054px;
    max-height: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #ddd;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 16px;
    opacity: 1;
    border-style: solid;
    border: 1px solid black;
}
.container-2 .container-patient span.p1 {
    width: auto;
    height: auto;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
    text-align: left;
    font: normal normal bold 14px/19px Manrope;
    letter-spacing: 0px;
    color: #072635;
    opacity: 1;
}
.container-2 .container-patient span.p2 {
    width: auto;
    height: auto;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-707070);
    text-align: left;
    font: normal normal normal 14px/19px Manrope;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}
.container-2 .container-patient::-webkit-scrollbar {
    width: 6px;
}
.container-2 .container-patient::-webkit-scrollbar-track {
    background: #E3E4E6 0% 0% no-repeat padding-box;
}
.container-2 .container-patient::-webkit-scrollbar-thumb {
    background: #E3E4E6 0% 0% no-repeat padding-box;
    border-radius: 3px;
}
.container-2 .container-patient::-webkit-scrollbar-thumb {
    background: darken(var(--scrollbar-color), 10%);
}
.container-2 .container-patient .search-icon {
    width: 18px;
    height: 18px;
    opacity: 1;
    margin-top: 20px;
    margin-left: 230px;
}
.container-2 .container-patient span.patients {
    width: 100px;
    height: 33px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-800) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-33) var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
    text-align: left;
    font: normal normal 800 24px/33px Manrope;
    letter-spacing: 0px;
    color: #072635;
    opacity: 1;
}
.container-2 .container-patient .patient-name {
    display: flex;
    border-style: dashed;
    width: 317px;
    height: 48px;
    opacity: 1;
    align-items: center;
    justify-content: space-between;
    margin-top: 29px;
    margin-left: 20px;
}
.container-2 .container-patient .active-background {
    display: flex;
    width: 353px;
    height: 80px;
    background: var(--activestate_bg_2) 0% 0% no-repeat padding-box;
    background: #D8FCF7 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: 10px;
    margin-bottom: -12px;
}
.container-2 .container-patient .active-background .patient-name-active {
    display: flex;
    border-style: dashed;
    width: 317px;
    height: 48px;
    opacity: 1;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
}

.container-2 .container-patient .patient-name .right-more-icon {
    width 18px;
    height: 4px;
    background: transparent url('images/more_horiz_FILL0_wght300_GRAD0_opsz24.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-right: 15px;
    margin-top: -15px;
}
.container-2 .container-patient .patient-name .patient-infos {
    display: relative;
    width: 97px;
    height: 42px;
    opacity: 1;
    margin-left: -130px;
}
.container-2 .container-patient .patient-name .patient-infos .p1{
    margin-top: -5px;
}
.container-2 .container-patient .active-background .patient-name-active .patient-infos .p1 {
    margin-top: -5px;
}
.container-2 .container-patient .active-background .patient-name-active .patient-infos {
    display: relative;
    width: 97px;
    height: 42px;
    opacity: 1;
    margin-left: -140px;
}
.container-2 .container-patient .active-background .patient-name-active .right-more-icon {
    width 18px;
    height: 4px;
    background: transparent url('images/more_horiz_FILL0_wght300_GRAD0_opsz24.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-right: 15px;
    margin-top: -15px;
}

/* Container-3 UI Properties
    container-3 diagnosis
    container-3 diagnostics
*/

.container-3 .diagnosis {
    margin-top: 35px;
    margin-left: 25px;
    top: 122px;
    left: 417px;
    width: 766px;
    height: 673px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 16px;
    opacity: 1;
    border-style: solid;

}
.container-3 .diagnosis .blood-pressure {
    border-style: dashed;
    width: 726px;
    height: 298px;
    background: #F4F0FE 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 1;
    margin-top: 40px;
    margin-left: 15px;
}
.container-3 .diagnosis .blood-pressure .p1 {
    width: 131px;
    height: 24px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
    text-align: left;
    font: normal normal bold 18px/24px Manrope;
    letter-spacing: 0px;
    color: #072635;
    text-transform: capitalize;
    opacity: 1;
}
.container-3 .diagnosis .blood-pressure span.p2 {
    width: 92px;
    height: 19px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
    text-align: right;
    font: normal normal normal 14px/19px Manrope;
    letter-spacing: 0px;
    color: #072635;
    opacity: 1;
    margin-left: 220px;
}
.container-3 .diagnosis .blood-pressure .systolic-diastolic-container {
    border-style: dashed;
    display: relative;
    width: 208px;
    height: 201px;
    opacity: 1;
    margin-left: 502px;
    margin-top: -15px;
}
.container-3 .diagnosis .blood-pressure .systolic-diastolic-container .systolic {
    border-style: solid;
    width: 149px;
    height: 84px;
    opacity: 1;
    margin-top: -2px;
}
.container-3 .diagnosis .blood-pressure .systolic-diastolic-container .diastolic {
    border-style: solid;
    width: 145px;
    height: 84px;
    opacity: 1;
    margin-top: -7px;
}
.container-3 .diagnosis .blood-pressure .systolic-diastolic-container p.line {
    width: 190px;
    height: 2px;
    background: var(--unnamed-color-ededed) 0% 0% no-repeat padding-box;
    background: #EDEDED 0% 0% no-repeat padding-box;
    color: var(--unnamed-color-707070)
    opacity: 1;
}
.container-3 .diagnosis .blood-pressure .systolic-diastolic-container .diastolic p,
.container-3 .diagnosis .blood-pressure .systolic-diastolic-container .systolic p {
    width: 60px;
    height: 19px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
    text-align: left;
    font: normal normal bold 14px/19px Manrope;
    letter-spacing: 0px;
    color: #072635;
    text-transform: capitalize;
    opacity: 1;
    margin-top: 2px;
}
.container-3 .diagnosis .blood-pressure .systolic-diastolic-container .systolic p i {
    width: 14px;
    height: 14px;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #E66FD2 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
    opacity: 1;
}
.container-3 .diagnosis .blood-pressure .systolic-diastolic-container .diastolic p i {
    width: 14px;
    height: 14px;
    border: 1px solid var(--unnamed-color-ffffff);
    background: #8C6FE6  0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
    opacity: 1;
}

.container-3 .diagnosis .resp-rate {
    border-style: dashed;
    width: 228px;
    height: 242px;
    background: #E0F3FA 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 1;
    margin-left: 15px;
    margin-top: 20px;
}
.container-3 .diagnosis .resp-rate img {
    width: 96px;
    height: 96px;
    opacity: 1;
    margin-left: 10px;
    margin-top: 10px;
}
.container-3 .diagnosis .temp {
    border-style: dashed;
    width: 228px;
    height: 242px;
    background: #FFE6E9 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 1;
    margin-left: 265px;
    margin-top: -247px;
}
.container-3 .diagnosis .temp img {
    width: 96px;
    height: 96px;
    opacity: 1;
    margin-left: 10px;
    margin-top: 10px;
}
.container-3 .diagnosis .heart-rate {
    border-style: dashed;
    top: 533px;
    left: 935;
    width: 228px;
    height: 242px;
    border-radius: 12px;
    background: #FFE6F1 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-left: 515px;
    margin-top: -246px;
}
.container-3 .diagnosis .heart-rate img {
    width: 96px;
    height: 96px;
    opacity: 1;
    margin-left: 10px;
    margin-top: 10px;
}
.container-3 .diagnosis .heart-rate p,
.container-3 .diagnosis .temp p,
.container-3 .diagnosis .resp-rate p {
    width: 125px;
    height: 22px;
    font: var(--unnamed-font-style-normal) normal medium 16px/22px var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
    font: normal normal medium 16px/22px Manrope;
    letter-spacing: 0px;
    color: #072635;
    text-transform: capitalize;
    opacity: 1;
    margin-top: 10px;
    margin-left: 15px;
}

.container-3 .diagnosis .diagnosis-hist {
    width: 207px;
    height: 33px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-800) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-33) var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
    text-align: left;
    font: normal normal 800 24px/33px Manrope;
    letter-spacing: 0px;
    color: #072635;
    opacity: 1;
    margin-bottom: 20px;
}
.container-3 .diagnostic-list {
    margin-top: 30px;
    margin-left: 25px;
    top: 827px;
    left: 417px;
    width: 766px;
    height: 349px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 16px;
    opacity: 1;
    border-style: dashed;
}

.container-3 .diagnostic-list .text-content {
    display: ;
    border-style: solid;
    width: 726px;
    height: 48px;
    background: #F6F7F8 0% 0% no-repeat padding-box;
    border-radius: 24px;
    opacity: 1;
    margin-left: 15px;
    margin-top: 50px;
}
.diagnostic-list .text-content ul.inline-block-container {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.diagnostic-list .text-content ul.inline-block-container li.inline-block-item {
    display: inline-block;
    margin: 15px 10px;
}
.diagnostic-list .text-content ul.inline-block-container li.inline-block-item span {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
    text-align: left;
    font: normal normal bold 14px/19px Manrope;
    letter-spacing: 0px;
    color: #072635;
    opacity: 1;
}
.diagnostic-list .text-content ul.inline-block-container li.inline-block-item span.p2{
    margin-left: 80px;
}
.diagnostic-list .text-content ul.inline-block-container li.inline-block-item span.p3{
    margin-left: 300px;
}
.diagnostic-list .diagnostic-title {
    width: 176px;
    height: 33px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-800) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-33) var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
    text-align: left;
    font: normal normal 800 24px/33px Manrope;
    letter-spacing: 0px;
    color: #072635;
    opacity: 1;
}
.container-3 .diagnostic-list .text-content .first-line {
    display: flex;
    justify-content: space-between;
    border-style: dashed;
    width: 723px;
    height: 59px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: 12px;
}
.container-3 .diagnostic-list .text-content .second-line, .third-line, .fourth-line {
    display: flex;
    justify-content: space-between;
    border-style: dashed;
    width: 726px;
    height: 40px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: 5px;
}


.container-2 .profile {
    margin-top: 35px;
    margin-left: 20px;
    width: 367px;
    height: 740px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 16px;
    opacity: 1;
    border-style: solid;
}
.container-2 .profile .profile-img {
    width: 200px;
    height: 200px;
    opacity: 1;
    border-style: solid;
}

.container-2 .profile .show-infos {
    top: 774px;
    left: 1289px;
    border-style: dashed;
    width: 220px;
    height: 41px;
    margin-top: 15px;
    margin-left: 40px;
    background: var(--activestate_bg_1) 0% 0% no-repeat padding-box;
    background: #01F0D0 0% 0% no-repeat padding-box;
    border-radius: 41px;
    opacity: 1;
}
.container-2 .profile .show-infos label.p1 {
    margin-left: 40px;
    width: 140px;
    height: 19px;
    text-align: center;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
    font: normal normal bold 14px/19px Manrope;
    letter-spacing: 0px;
    color: #072635;
    opacity: 1;
}
.lab-results {
    margin-top: 20px;
    margin-left: 25px;
    top: 880px;
    left: 1215px;
    width: 367px;
    height: 296px;
    /*UI Properties*/
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 16px;
    opacity: 1;
    border-style: solid;
}
.lab-results .lab {
    width: 137px;
    height: 33px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-800) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-33) var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
    text-align: left;
    font: normal normal 800 24px/33px Manrope;
    letter-spacing: 0px;
    color: #072635;
    opacity: 1;
}
.lab-results .first-results, .third-results, .fourth-results, .fifth-results {
    border-style: solid;
    width: 315px;
    height: 40px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-left: 10px;
}
.lab-results .second-results {
    border-style: dashed;
    width: 315px;
    height: 40px;
    background: #F6F7F8 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-left: 10px;
}